<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.server.tjdk.mapper.DeptMapper">

    <select id="selectInfoById" resultType="com.alibaba.fastjson.JSONObject">
        SELECT p.DEPT_ID     AS 部门ID,
               p.DEPT_NAME   AS 部门名称,
               p.DEPT_PERSON AS 部门负责人,
               p.DEPT_LINK   AS 部门联系电话,
               CASE
                   p.IS_DELETE
                   WHEN 0 THEN
                       '否'
                   ELSE '是'
                   END       AS 是否已删除
        FROM p_dept p
        WHERE p.DEPT_ID = #{id}
    </select>
</mapper>
