<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.server.tjdkxm.mapper.DocumentClassMapper">

    <select id="selectInfoById" resultType="com.alibaba.fastjson.JSONObject">
        SELECT p.DOCUMENTCLASS_ID                                                                            AS 资料ID,
               (SELECT DOCUMENTCLASS_NAME FROM p_documentclass WHERE DOCUMENTCLASS_ID = p.DOCUMENTCLASS_PID) AS 父分类名称,
               p.DOCUMENTCLASS_NAME                                                                          AS 分类名称,
               DATE_FORMAT(p.DOCUMENTCLASS_TIME, '%Y-%m-%d %H:%i:%s')                                        AS 创建时间,
               CASE
                   p.IS_DELETE
                   WHEN 0 THEN '否'
                   ELSE '是'
                   END                                                                                       AS 是否已删除
        FROM p_documentclass p
        where p.DOCUMENTCLASS_ID = #{id}
    </select>
</mapper>
