<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.server.tjdkxm.mapper.OperateMapper">

    <select id="selectPageInfo" resultType="cc.mrbird.febs.common.core.entity.Operate">

    </select>
    <select id="selectInfoById" resultType="com.alibaba.fastjson.JSONObject"></select>
</mapper>
