<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.server.tjdkxm.mapper.SafeplanMapper">

    <select id="getAcceptanceCount" resultType="java.lang.Integer">
        SELECT
        count( 1 )
        FROM
        p_safeplan
        WHERE
        SAFEPLAN_ID IN (
        SELECT
        p1.SAFEPLAN_ID
        FROM
        p_safeplan p1
        WHERE 1=1
        <if test="projectIds !=null and projectIds.size()>0">
            and p1.SAFEPLAN_PROJECTID in
            <foreach item="item" collection="projectIds" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        AND p1.SAFEPLAN_CHECKSTATE IN ( '0', '1' )
        AND p1.IS_DELETE = 0
        <if test="userId != null">
            AND p1.SAFEPLAN_MAKERUSERID = #{userId}
        </if>
        UNION
        (
        SELECT
        p2.SAFEPLAN_ID
        FROM
        p_safeplan p2
        WHERE
        p2.SAFEPLAN_CHECKSTATE = '0' AND p2.IS_DELETE = 0
        <if test="projectIds !=null and projectIds.size()>0">
            and p2.SAFEPLAN_PROJECTID in
            <foreach item="item" collection="projectIds" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="userId != null">
            AND p2.SAFEPLAN_ID IN (
            SELECT DISTINCT TABLE_ID from p_safeplan_user where USER_ID=#{userId}
            )
        </if>
        )
        )
        <if test="ew != null">
            <if test="ew.nonEmptyOfWhere">
                AND
            </if>
            ${ew.sqlSegment}
        </if>
    </select>
    <select id="notChecked" resultType="java.lang.Integer">
        SELECT
        count( 1 )
        FROM
        (
        SELECT
        s.SAFEPLAN_ID
        FROM
        p_safeplan s
        WHERE
        s.IS_DELETE = 0
        <if test="projectIds !=null and projectIds.size()>0">
            and s.SAFEPLAN_PROJECTID in
            <foreach item="item" collection="projectIds" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        AND s.SAFEPLAN_CHECKSTATE = '0'
        <if test="userId != null">
            AND (
            s.SAFEPLAN_ID IN (
            SELECT TABLE_ID from p_safeplan_user where USER_ID=#{userId}
            ))
        </if>
        UNION
        (
        SELECT
        s1.SAFEPLAN_ID
        FROM
        p_safeplan s1
        WHERE
        s1.IS_DELETE = 0
        <if test="projectIds !=null and projectIds.size()>0">
            and s1.SAFEPLAN_PROJECTID in
            <foreach item="item" collection="projectIds" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        AND s1.SAFEPLAN_CHECKSTATE = '1'
        <if test="userId != null">
            AND s1.SAFEPLAN_ACCEPTANCEUSERID = #{userId}
        </if>
        )) temp;
    </select>
    <select id="selectPageInfo" resultType="cc.mrbird.febs.common.core.entity.tjdkxm.Safeplan">
        SELECT p.SAFEPLAN_ID AS SAFEPLAN_ID,
        p.SAFEPLAN_PROJECTID AS SAFEPLAN_PROJECTID,
        (
        SELECT u.PROJECT_NAME
        FROM p_project u
        WHERE (u.PROJECT_ID = p.SAFEPLAN_PROJECTID)) AS projectName,
        p.SAFEPLAN_UNITENGINEID AS SAFEPLAN_UNITENGINEID,
        (
        SELECT u.UNIT_NAME
        FROM p_unitengine u
        WHERE (u.UNIT_ID = p.SAFEPLAN_UNITENGINEID)) AS unitengineName,
        p.SAFEPLAN_PARCELID AS SAFEPLAN_PARCELID,
        (
        SELECT u.PARCEL_NAME
        FROM p_parcel u
        WHERE (u.PARCEL_ID = p.SAFEPLAN_PARCELID)) AS parcelName,
        p.SAFEPLAN_SUBITEMID AS SAFEPLAN_SUBITEMID,
        (
        SELECT u.SUBITEM_NAME
        FROM p_subitem u
        WHERE (u.SUBITEM_ID = p.SAFEPLAN_SUBITEMID)) AS subitemName,
        p.SAFEPLAN_CHECKTIME AS SAFEPLAN_CHECKTIME,
        p.SAFEPLAN_CHECKTYPE AS SAFEPLAN_CHECKTYPE,
        p.SAFEPLAN_CONTENT AS SAFEPLAN_CONTENT,
        p.SAFEPLAN_CHECKUSERID AS SAFEPLAN_CHECKUSERID,
        p.SAFEPLAN_LOCALUSERID AS SAFEPLAN_LOCALUSERID,
        group_concat(
        (SELECT IFNULL(u.REALNAME,'') FROM t_user u WHERE ( u.USER_ID = qu.USER_ID))
        ) AS safeplanCheckUsername,
        group_concat(
        (SELECT IFNULL(u.REALNAME,'') FROM t_user u WHERE ( u.USER_ID = p.SAFEPLAN_LOCALUSERID))
        ) AS safeplanLocalusername,
        p.SAFEPLAN_CHECKFOREIGNUSER AS SAFEPLAN_CHECKFOREIGNUSER,
        p.SAFEPLAN_CHECKIMG AS SAFEPLAN_CHECKIMG,
        p.SAFEPLAN_ACTUALTIME AS SAFEPLAN_ACTUALTIME,
        p.SAFEPLAN_CHECKFILE AS SAFEPLAN_CHECKFILE,
        p.SAFEPLAN_REMARK AS SAFEPLAN_REMARK,
        p.SAFEPLAN_MAKERUSERID AS SAFEPLAN_MAKERUSERID,
        p.SAFEPLAN_ACCEPTINFO AS SAFEPLAN_ACCEPTINFO,
        p.SAFEPLAN_ACCEPTIME AS SAFEPLAN_ACCEPTIME,
        (
        SELECT u.REALNAME
        FROM t_user u
        WHERE (u.USER_ID = p.SAFEPLAN_MAKERUSERID)) AS safeplanMakerusername,
        p.SAFEPLAN_ACCEPTANCEUSERID AS SAFEPLAN_ACCEPTANCEUSERID,
        (
        SELECT u.REALNAME
        FROM t_user u
        WHERE (u.USER_ID = p.SAFEPLAN_ACCEPTANCEUSERID)) AS safeplanAcceptanceusername,
        p.SAFEPLAN_MAKERTIME AS SAFEPLAN_MAKERTIME,
        p.SAFEPLAN_CHECKSTATE AS SAFEPLAN_CHECKSTATE,
        p.IS_DELETE AS IS_DELETE,
        p.SAFEPLAN_CHECKPICTURES AS SAFEPLAN_CHECKPICTURES,
        p.SAFEPLAN_CHECKREMARK AS SAFEPLAN_CHECKREMARK,
        p.SAFEPLAN_ISLOCAL as SAFEPLAN_ISLOCAL,
        p.SAFEPLAN_LOCALTIME as SAFEPLAN_LOCALTIME,
        p.SAFEPLAN_LOCALINFO as SAFEPLAN_LOCALINFO,
        p.SAFEPLAN_LOCALIMG as SAFEPLAN_LOCALIMG
        FROM (
        p_safeplan p
        LEFT JOIN p_safeplan_user qu ON ((
        qu.TABLE_ID = p.SAFEPLAN_ID
        )))
        WHERE 1=1
        <if test="ew != null">
            <if test="ew.nonEmptyOfWhere">
                AND
            </if>
            ${ew.sqlSegment}
        </if>
    </select>
    <select id="selectInfoById" resultType="com.alibaba.fastjson.JSONObject">
        SELECT p.SAFEPLAN_ID                                                                        AS 安全检查计划表ID,
               (SELECT u.PROJECT_NAME FROM p_project u WHERE (u.PROJECT_ID = p.SAFEPLAN_PROJECTID)) AS 所属项目,
               (SELECT u.UNIT_NAME FROM p_unitengine u WHERE (u.UNIT_ID = p.SAFEPLAN_UNITENGINEID)) AS 单位项目,
               (SELECT u.PARCEL_NAME FROM p_parcel u WHERE (u.PARCEL_ID = p.SAFEPLAN_PARCELID))     AS 分部名称,
               (SELECT u.SUBITEM_NAME FROM p_subitem u WHERE (u.SUBITEM_ID = p.SAFEPLAN_SUBITEMID)) AS 分项名称,
               DATE_FORMAT(p.SAFEPLAN_CHECKTIME, '%Y-%m-%d %H:%i:%s')                               AS 计划检查日期,
               CASE
                   p.SAFEPLAN_CHECKTYPE
                   WHEN 1 THEN
                       '日周月检查'
                   WHEN 2 THEN
                       '专项检查'
                   END                                                                              AS 检查类型,
               CASE
                   p.SAFEPLAN_CHECKSTATE
                   WHEN 1 THEN
                       '代实施'
                   WHEN 2 THEN
                       '待验收'
                   WHEN 3 THEN
                       '验收通过'
                   WHEN 4 THEN
                       '验收不通过'
                   END                                                                              AS 检查状态,
               p.SAFEPLAN_CONTENT                                                                   AS 检查内容,
               group_concat(
                       (SELECT IFNULL(u.REALNAME, '') FROM t_user u WHERE (u.USER_ID = qu.USER_ID))
                   )                                                                                AS 检查人,
               p.SAFEPLAN_CHECKFOREIGNUSER                                                          AS 检查人_外来人员,
               p.SAFEPLAN_CHECKPICTURES                                                             AS 检查现场图片,
               p.SAFEPLAN_CHECKFILE                                                                 AS 检查实施文件,
               DATE_FORMAT(p.SAFEPLAN_ACTUALTIME, '%Y-%m-%d %H:%i:%s')                              AS 实际检查时间,
               p.SAFEPLAN_CHECKREMARK                                                               AS 检查备注,
               p.SAFEPLAN_CHECKIMG                                                                  AS 检查实施图片,
               p.SAFEPLAN_REMARK                                                                    AS 备注,
               (SELECT u.REALNAME FROM t_user u WHERE (u.USER_ID = p.SAFEPLAN_MAKERUSERID))         AS 制定人,
               DATE_FORMAT(p.SAFEPLAN_MAKERTIME, '%Y-%m-%d %H:%i:%s')                               AS 制定日期,
               p.SAFEPLAN_ACCEPTINFO                                                                AS 验收说明,
               DATE_FORMAT(p.SAFEPLAN_ACCEPTIME, '%Y-%m-%d %H:%i:%s')                               AS 验收时间,
               CASE
                   p.IS_DELETE
                   WHEN 0 THEN
                       '否'
                   ELSE '是'
                   END                                                                              AS 是否已删除
        FROM (
              p_safeplan p
                 LEFT JOIN p_safeplan_user qu ON ((
            qu.TABLE_ID = p.SAFEPLAN_ID
            )))
        where p.SAFEPLAN_ID = #{id}
        GROUP BY p.SAFEPLAN_ID
    </select>
</mapper>
